<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <style>
			path {
				stroke: red;
				stroke-width: 1;
				fill: none;
			}
		</style>
  </head>
  <body>
    <div id="app" class="container">
      <br>
      <h1>{{ title }}</h1>
      <button type="button" name="button" class="btn btn-danger" v-on:click="addDevice">Add Aidlab</button>
      <ul class="device-list">
        <device-item
          v-for="device in devices"
          v-bind:device="device">
        </device-item>
      </ul>


      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

    <!-- App JavaScript  -->
    <script src="https://unpkg.com/vue@2.4.2" charset="utf-8"></script>
    <script src="https://d3js.org/d3.v4.js"></script>
    <script src="src/graph.js" charset="utf-8"></script>
    <script src="src/device.js" charset="utf-8"></script>
    <script src="src/app.js" charset="utf-8"></script>
  </body>
</html>
